@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

a {
  @apply text-primary underline hover:text-secondary;
}